.contact-section {
   background: #8ed3a2;
   padding: 50px 0;
   text-align: center;
   color: #fff;
   min-height: 120vh;
   
}
.contact-info {
   display: flex;
   justify-content: center;
   gap: 40px;
   margin-bottom: 30px;
}
.contact-method {
   max-width: 250px;
   text-align: left;
}
.contact-method h2 {
   font-size: 1.5em;
   margin-bottom: 10px;
}
.contact-method p {
   font-size: 1em;
   color: #ccc;
}
.contact-form {
   max-width: 600px;
   margin: 0 auto;
   text-align: left;
   background: #04250b;
   padding: 30px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.contact-form h2 {
   font-size: 3em;
   margin-bottom: 20px;
   color: #fff;
}
.form-group {
   margin-bottom: 20px;
}
.form-group label {
   font-size: 1.5em;
   display: block;
   margin-bottom: 5px;
   color: #fff;
}
.form-group input,
.form-group textarea {
   width: calc(100% - 20px);
   padding: 10px;
   font-size: 2em;
   border: none;
   border-radius: 5px;
   background: #8ed3a2; 
   color: #fff;
}
.form-group textarea {
   height: 150px;
   resize: none;
}
button[type="submit"] {   
   color: #fff;
   padding: 10px 20px;
   font-size: 2em;
   background: #04250b; 
   border: 3px solid #8ed3a2; /* Set the border color on hover */
   border-radius: 5px;
   cursor: pointer;
   transition: background 0.3s;
   
}
button[type="submit"]:hover {
 

   background: #8ed3a2; 
   border: 3px solid #f7f7f7; /* Set the border color on hover */
}

p {
   font-size: 2em;
   margin-top: 1em;
   margin-bottom: 3em;
   color: #04250b; 
}
h1 {
   display: block;
   font-size:6em;
   margin-block-start: 0.67em;
   margin-block-end: 0.67em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font-weight: bold;
   color: #04250b; 
}
.project-info p {
   margin: 5px 0; 
   line-height: 1.2; 
}
