@media screen and (max-width: 768px) {
   .contact-info {
     flex-direction: column;
     align-items: center;
   }
   h1 {
      font-size: 3em;
    }
    .contact-form h2 {
      font-size: 2em;
      margin-bottom: 10px;
      white-space: nowrap;
margin-left: -.3em;
    }
 
   .contact-method {
     text-align: center;
     max-width: none;
   }
 
   .contact-form {
     max-width: 15em !important;
   }
 
   .form-group input,
   .form-group textarea {
     width: 100%;
   }
 
   button[type="submit"] {
      color: #fff;
      padding: 10px 20px;
      font-size: 1em;
      background: #04250b;
      border: 3px solid #8ed3a2;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s;
      width: 50%;
      align-items: center;
      margin-left: 4em;
  } 
    p {
     font-size: 1.5em;
     margin-top: 1em;
     margin-bottom: 2em;
   }
 
   .project-info p {
     font-size: 1em;
   }
   .contact-info {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }  
    .contact-method,
    .contact-form {
      max-width: 100%;
    }  
    .form-group input,
    .form-group textarea {
      width: calc(100% - 20px);
    }  
    .form-group label {
      font-size: 1em;
    }  
    .form-group input,
    .form-group textarea {
      padding: 8px;
      font-size: 1.5em;
    }  
 }
 