#before-after-section {
   text-align: center;
   padding: 3em 0;
   background-color:#8ed3a2;   
}
#before-after-section h2 {
   font-size: 6em;
   margin-bottom: 1em;
   background-color:#8ed3a2; 
   font-family: 'cursive';
   color: #04250b;
   margin-bottom: 1em;
   padding: 0;   
}
.photo-grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1em;
   justify-items: center;
   background-color:#8ed3a2; 
}
.photo img {
   max-width: 100%;
   border: 4px solid #04250b; 
}
.photo p {
   font-size: 2em;
   margin: 0.5em 0 0;
   font-weight: bold;
}
